numpy
groq
python-dotenv
# Added for stt (Issue #3)
sounddevice
soundfile
openai-whisper
ipykernel
ipywidgets
# Added for diarization (Issue #4)
torch
torchaudio
scipy
whisperx @ git+https://github.com/m-bain/whisperx.git

# Added for Google Cloud STT
google-cloud-speech