# Core dependencies
numpy
python-dotenv

# LLM Analysis
groq

# Audio processing
sounddevice
soundfile

# Google Cloud STT
google-cloud-speech

# Speech analysis
librosa

# UI visualization and real-time audio streaming
pygame
pyaudio

# PDF report generation
reportlab
